# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Environment variables & secrets
.env
*.env

# VS Code directory settings
.vscode/

# OS metadata
.DS_Store
Thumbs.db